<ion-view view-title="$ HKD">
  <ion-content class="padding">
    <div style="text-align:center;margin-top:20px;"> 
      <h1>Change rate</h1><br/>
      <h2 style="margin-top:-20px;">€1 = ${{hkd}}<h2><br/>
      <label class="item item-input">
        $&nbsp;<input type="tel" ng-model="amount">
      </label>
        <button class="button button-balanced" ng-click="convert(amount);" style="margin-top:40px;">
          Convert to €
        </button>
        <br/><br/>
      <h1 ng-if="answer" style="font-size:80px;">€ {{output}}</h1>

      <label class="item item-input" ng-if="answer">$ {{persons}} per person ({{num_persons}})</label>
      <label class="item item-input" ng-if="answer">€ {{persons_euro}} per person ({{num_persons}})</label>
      <!-- <h2 ng-show="answer">${{persons}} / €{{persons_euro}} per person ({{num_persons}})</h2> -->
    </div>
  </ion-content>
</ion-view>
